// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


 #container{
text-align: center;
width:1200px;
padding: 20px 0 10px;
margin: 0px auto 0;
background-image: image-url("bgk.jpg");
}
.n{
	width:500px;
	height:200px;
	margin-left:400px;
}

h3
 {
 	background-color:Plum ;
 	width:200px;
 	margin-left:500px;
 }
